body {
    padding: 0px;
    margin: 0px;
}

.text {
    &-ui {
        font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
    }
    &-monospace {
        font-family: monospace;
    }
}

.xcelsior-root {
    @extend .text-ui;
    & > * {
        position: absolute;
    }

    height: 100vh;
    width: 100vw;
    user-select: none;

    .selectable {
        user-select: text;
        &-all {
            user-select: all;
        }
    }

    .cover {
        height: 100%;
        width: 100%;
    }

    .outer {
        @extend .cover;
        .inner {
            @extend .cover;
            position: absolute;
        }
    }

    .scrollable {
        @extend .outer;
        & > .inner {
            overflow: auto;
        }
    }
    .grid-view {
        @extend .outer, .cover;

        & > .inner {
            position: relative;
            display: flex;
            flex-direction: row;
            & > .content {
                flex-grow: 1;
            }
            & > .sidebar {
                height: 100%;
                overflow: auto;
            }
    
        }


        &.vertical {
            & > .inner {
                overflow: auto;
                flex-direction: column;
                & > .sidebar {
                    height: auto;
                }
            }
        }

        &.mobile-view-safe {
            @media screen and (max-width: 992px) {
                & > .inner {
                    display: block;

                    & > .sidebar {
                        display: none;
                        position: absolute;
                        width: 100% !important;
                        &.show-on-mobile {
                            display: block;
                        }
                    }

                    & > .content {
                        height: 100%;
                        width: 100%;
                        position: absolute;
                        &.hide {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
